/Day01/Exercise02/nbproject/private/
/Day01/Exercise02/build/
/Day01/Exercise03/nbproject/private/
/Day01/Exercise03/build/
/Day01/Exercise04/nbproject/private/
/Day01/Exercise04/build/
/Day01/Exercise05/nbproject/private/
/Day01/Exercise05/build/
/Day01/Exercise06/nbproject/private/
/Day01/Exercise06/build/
/Day01/Exercise07/nbproject/private/
/Day01/Exercise07/build/
/Day01/Exercise08/nbproject/private/
/Day01/Exercise08/build/
/Day02/Exercise01/nbproject/private/
/Day02/Exercise01/build/
/Day02/Exercise02/nbproject/private/
/Day02/Exercise02/build/
/Day02/Exercise03/nbproject/private/
/Day02/Exercise03/build/
/Day02/Exercise04/nbproject/private/
/Day02/Exercise04/build/
