/Day01/Exercise02/nbproject/private/
/Day01/Exercise02/build/
/Day01/Exercise03/nbproject/private/
/Day01/Exercise03/build/
/Day01/Exercise04/nbproject/private/
/Day01/Exercise04/build/
/Day01/Exercise05/nbproject/private/
/Day01/Exercise05/build/
/Day01/Exercise06/nbproject/private/
/Day01/Exercise06/build/
/Day01/Exercise07/nbproject/private/
/Day01/Exercise07/build/
/Day01/Exercise08/nbproject/private/
/Day01/Exercise08/build/
/Day02/Exercise01/nbproject/private/
/Day02/Exercise01/build/
/Day02/Exercise02/nbproject/private/
/Day02/Exercise02/build/
/Day02/Exercise03/nbproject/private/
/Day02/Exercise03/build/
/Day02/Exercise04/nbproject/private/
/Day02/Exercise04/build/
/Day03/Exercise01/nbproject/private/
/Day03/Exercise01/build/
/Day01/Exercise09/nbproject/private/
/Day01/Exercise09/build/
/Day03/Exercise01_PhanSo/nbproject/private/
/Day03/Exercise01_PhanSo/build/
/Day04/Exercise01/nbproject/private/
/Day04/Exercise01/build/
/Day05/Exercise01/nbproject/private/
/Application/Day01/Example01/nbproject/private/
/Application/Day01/Example01/build/
/Day05/Exercise01/build/
/Day05/Exercise02/nbproject/private/
/Day04/Exercise02/nbproject/private/
/Day05/Exercise02/build/
/Day06/Exercise01/nbproject/private/
/Day06/Exercise01/build/
/Day07/JavaApplication34/nbproject/private/
/Day07/Exercise01/nbproject/private/
/Day07/Exercise01/build/
/Code_Three_Layer_Model/Exercise01/nbproject/private/
/Code_Three_Layer_Model/Exercise01/build/
